a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
}
.detailCountry{
    background-color: #ecedef;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 15px;
}
.detailCountry h3{
    text-transform: uppercase;
}
.activities{
    display: grid;
    margin: 0 auto;
    max-width: 90%;
    grid-template-columns: repeat(4, 1fr);
}
.activity{
    background-color: #ecedef;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}